.dangnhap{
	   text-align: center;
    font-size: 16px;
    margin: 10px auto 15px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 34px;
    margin-bottom: -12px
}

.container.a .input-group1{
  color: #9f9fa1;
  
    vertical-align: middle;
        display: flex;


}
.container.a .Phone{
    width: 100px;
    display: block;

}
.container.a .Password{
    width: 100px;
    display: block;
    
}
    .container.a .input-group2 {
       color: #9f9fa1;
  margin-top:2px;
    vertical-align: middle;
        display: flex;
}

.container.a .Phone1{ 
   border: 1px solid #008848;
    border-radius: 4px;
    padding: 10px 10px;
    width: calc(100% - 90px);
    box-sizing: border-box;
    width: 257px;
    height: 48px;
}

.container.a .Password1{
    border: 1px solid #008848;
    border-radius: 4px;
    padding: 10px 10px;
    width: calc(100% - 90px);
    box-sizing: border-box;
    width: 257px;
    height: 48px;
}



.container.a .forget2{
       padding-left: 247px;
    font-size: 15px;
    color: #5794d9;

}
.container.a .gmk{
    color: #5794d9;
    margin-left: 98px;
    font-size: 15px;
    margin-bottom: 9px;
}


.container.a .col .btn-success{
	font-size: 14px;
    color: #fff !important;
    border: 0;
    text-align: center;
    font-weight: 600;
    background: #ff9142;
    border-radius: 5px;
    background: #008848;
    cursor: pointer;
    padding: 10px 20px;
        border-radius: 4px;
    text-transform: uppercase;
       margin-left: 100px;
       margin-top: 9px;
} 
.container.a .col .btn-xanh{
	background-color: #3b5999;
	color: white;
    margin-top: 11px;
    padding-left: 65px;
    padding-right: 65px;
}
.container.a .col .btn-do{
	background-color: #de2000;
	color: white;
    padding-left: 65px;
    padding-right: 65px;
    margin-top: 9px;
}

.container.b .col .fab.fa-youtube{
	    height: 24px;
	color: #fefefe;
    background-color: #e62117;
    border: 1px solid #e62117;
    border-radius: 3px;
    


}
.container.b .col .fas.fa-thumbs-up{
	background: #365899;
    border: 1px solid #365899;
border-radius: 3px;
    font-size: 11px;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 18px;
	color: white;
    


}


.container.a{
	background-color: white;
       padding-top: 28px;
    padding-bottom: 55px;
    margin-top: 30px;
    padding-right: 8px;
    padding-left: 8px;
        max-width: 830px;
        border-radius: 5px;


}


.container.b{
	background-color: white;
	padding-top: 18px;
	padding-right: 8px;
    padding-left: 8px;
    margin-top: 30px;
        max-width: 830px;
        border-radius: 5px;
}

.container.b{
	
	padding-top: 25px;
      padding-bottom: 31px;
	padding-right: 5px;
    padding-left: 5px;
    margin-top: 30px;
        max-width: 830px;
}
.container.b .tongdai{
    display: block;
    overflow: hidden;
    padding: 10px 10px;
    background: #fff;
    font-size: 13px;
    font-weight: 600;
    color: #008848;
}
.container.b .breadcrumb{
	background-color: white;
}

.container.b .ckcl{
	font-size: 11px;
	padding-left: 154px;
	padding-bottom: 9px;
}

.container.b .ghdh{
	font-size: 11px;
	padding-left: 154px;
}


.container.c{
	    
	display: block;
    width: 932px;
    margin: auto;
    font-size: 10px;
    color: #999;
    text-align: center;
    background: #e9edf0;
    padding: 5px 0;
    float: right;
}
.container.b .nutb{
	margin-top: 25px;
    padding-left: 182px;

}

.linkstatic {
    float: left;
    overflow: hidden;
    width: 100%;
    padding: 3px 10px 5px;
}

.container.b .img1{
       height: 44px;
}

.container.b .img2{
           height: 17px;

}
.container.b .img3{
       height: 44px;
}
.container.b .linkstatic{
  
        float: left;
    overflow: hidden;
    width: 100%;
    padding: 3px 10px 5px;
}

.container.b .linkstatic a{
  
      font-size: 12px;
    margin-left: 1px;
    padding-right: 36px;
    margin-right: -29px;
}