.navbar{
	background-color: #008848;
	margin-bottom: 0px;
	position: fixed;
	z-index: 11;
	width: 100%;
	.navbar-inner{
		height: 65px;
		padding: 1% 6% 0% 5%;
		background-color: #008848;
		.navbar-brand{
			padding: 0px 15px;
			height: 33px;
			.hidden-xs{
				width: 185px;
				height: 35px;
			}
		}
		.top-menu{
			li{
				position: relative;
				.pull-left{
					margin-top: 0px;
					.form-control{
						padding: 6px 6px 6px 21px;
						border-radius: 20px;
					}
					input[type="text"]{
						width: 465px;
						height: 33px;
					}
					.icon-right{
						position: absolute;
						z-index: 555;
						right: 22px;
						text-align: center;
						background: none;
						border: none;
						padding-top: 1%;
						.fa-search{
							width: 18px;
							height: 18px;
							color: #dfdfdf;
							font-size: 20px;
						}
					}
				}
			}
		}
		.btn-group{
			margin: 0px 5px 0px 10px;
			text-align: center;
			.btn{
				background: none;
				border: none;
				color: #ffffff;
				&:hover{
					color: #eeff6b;
				}
			}
			.btn-de{
				margin-left: 8px;
			}
		}
		.pull-right-1{
			float: right;
			background: rgba(19,18,24,.16);
		}
	}
}

.ch-container{
	padding: 0px;
	position: relative;
	padding-top: 5%;
	.row{
		margin-right: 0px;
		.col-sm-2{
			padding-right: 0px;
			position: fixed;
		}
		#content{
			padding-left: 15px;
			width: 75%;
			float: right;
		}
	}
}

@media only screen and (max-width: 1024px){
	.ch-container{
		.row{
			#content{
				width: 70%;
				margin-top: 2%;
				padding-right: 0px;
			}
		}
	}
	.navbar{
		.navbar-inner{
			padding: 1% 0% 0% 3%;
			.top-menu{
				li{
					.pull-left{
						input[type="text"]{
							width: 381px;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 768px){
	.navbar{
		.navbar-inner{
			.top-menu{
				li{
					.pull-left{
						input[type="text"]{
							width: 373px;
						}
					}
				}
			}
		}
	}
}


@media only screen and (max-width: 425px){
	.ch-container{
		.row{
			#content{
				width: 50%;
				margin-top: 2%;
				padding-right: 0px;
			}
		}
	}
	.navbar{
		.navbar-inner{
			.top-menu{
				li{
					.pull-left{
						input[type="text"]{
							width: 373px;
						}
					}
				}
			}
		}
	}
}