body {
  background-color: #e9edf0;
}
body .cart-wrap {
  background-color: #e9edf0;
}
body .cart-wrap .return {
  margin-left: 20%;
  margin-right: 15%;
}
body .cart-wrap .return .returnmain .breturn {
  text-decoration: none;
}
body .cart-wrap .totalnopadding {
  margin-left: 20%;
  margin-right: 15%;
}
body .cart-wrap .totalnopadding .nopadding .nomg {
  margin: 0px;
}
body .cart-wrap .totalnopadding .nopadding .nomg .firstpage {
  background-color: #ffffff;
  border-radius: 5px;
}
body .cart-wrap .totalnopadding .nopadding .nomg .firstpage .rtv {
  color: #333333;
  font-weight: bold;
  padding: 2% 2% 2% 4%;
  margin: 0%;
  border-bottom: 1px solid #ddd;
}
body .cart-wrap .totalnopadding .nopadding .nomg .firstpage .rtv i {
  padding-right: 1%;
}
body .cart-wrap .totalnopadding .nopadding .nomg .firstpage .datetime {
  margin-top: 1%;
}
body .cart-wrap .totalnopadding .nopadding .nomg .firstpage .datetime .form-show {
  padding: 15px;
}
body .cart-wrap .totalnopadding .nopadding .nomg .firstpage .datetime .form-show .form-group label {
  padding-left: 2%;
  width: 130px;
  padding-right: 0%;
}
body .cart-wrap .totalnopadding .nopadding .nomg .firstpage .datetime .form-show .form-group input {
  width: 94%;
  margin-left: 2%;
  padding: 0% 1%;
}
body .cart-wrap .totalnopadding .nopadding .nomg .secondpage {
  background-color: #ffffff;
  margin-top: 2%;
  border-radius: 5px;
}
body .cart-wrap .totalnopadding .nopadding .nomg .secondpage .form-time {
  padding: 15px;
}
body .cart-wrap .totalnopadding .nopadding .nomg .secondpage .form-time .form-group label {
  padding-left: 2%;
  width: 130px;
  padding-right: 0%;
}
body .cart-wrap .totalnopadding .nopadding .nomg .secondpage .form-time .form-group .input-group {
  width: 96%;
  display: flex;
}
body .cart-wrap .totalnopadding .nopadding .nomg .secondpage .form-time .form-group .input-group .input-group-text {
  border: 1px solid #a9a9a9;
  padding: .375rem .75rem;
  border-right: none;
  background-color: #e9ecef;
  margin-left: 2%;
}
body .cart-wrap .totalnopadding .nopadding .nomg .secondpage .form-time .form-group .input-group .disput {
  width: 94%;
  padding: 0% 1%;
}
body .cart-wrap .totalnopadding .nopadding .nomg .secondpage .rtv {
  color: #333333;
  font-weight: bold;
  padding: 2% 2% 2% 4%;
  margin: 0%;
  border-bottom: 1px solid #ddd;
}
body .cart-wrap .totalnopadding .nopadding .nomg .secondpage .rtv i {
  padding-right: 1%;
}
body .cart-wrap .totalnopadding .nopadding .nomg .thirdpage {
  background-color: #ffffff;
  margin-top: 2%;
  border-radius: 5px;
  padding-bottom: 2%;
}
body .cart-wrap .totalnopadding .nopadding .nomg .thirdpage .rtv {
  color: #333333;
  font-weight: bold;
  padding: 2% 2% 2% 4%;
  margin: 0%;
  border-bottom: 1px solid #ddd;
}
body .cart-wrap .totalnopadding .nopadding .nomg .thirdpage .rtv i {
  padding-right: 1%;
}
body .cart-wrap .totalnopadding .nopadding .nomg .thirdpage .detailtable {
  width: 95%;
  margin-left: 3%;
  margin-top: 2%;
  border: 1px solid #eee;
  border-radius: 5px;
}
body .contentfoot {
  margin-left: 25%;
  margin-right: 21%;
}
body .contentfoot .footc {
  text-align: center;
}
body .contentfoot .footc a {
  color: #999;
  display: inline-block;
  font-size: 13px;
  line-height: 7px;
  padding: 10px 0;
}

/*# sourceMappingURL=detailcart.css.map */
